{% extends "layout.html" %}
{% block content %}
    <div class="bod">
        <h1> About Us</h1>
        <p>The global market for Home Security Systems estimated at US$50.2 Billion in the year 2020, 
            is projected to reach a revised size of US$68.2 Billion by 2026, growing at a CAGR of 5.4% 
            over the analysis period.</p>
        <p>The demand for home security systems is witnessing a rapid growth. The scenario is therefore
            creating demand for highly sophisticated security solutions like access control systems,
            IP-based video surveillance, digital CCTVs and remote-monitoring solutions. Demand is
            also driven by the low penetration rate of home security systems in the US, which is 
            estimated at around only 17% of the total US homes.</p>
        <p>This factor, coupled with the $2500 average value loss per burglary, presents 
            increased opportunities for home security systems. Technological developments 
            also ensure that building security systems became affordable to suffice the 
            budgetary requirements of consumers across the board.</p>
        <p>The present generation of home security solutions offers unparalleled connectivity,
            control and accessibility, and more importantly enable homeowners to remotely access
            a wide range of features using a PC or a smartphone. The growing popularity of smart
            security systems is also largely attributed to their innovative features such as 
            remote arming and disarming, viewing of stored video clips of various events, accessing
            of household appliances and monitoring of movements even when away from home to name a few.</p>
        <p>In this project, we have included a very small part of vast functionalities a security system can 
            give. We have implemented a facial recognition system which will alert the user when triggered by 
            specific events, namely an unknown person coming to the doorstep and/or if a person displays extreme
            emotions such as anger or fear. Also, it can also detect if someone is trying to gain access by 
            using a fake picture or video.All the incidents are logged into the database. The user can then see
            the records from the website along with the timestamps to easily identify it from recordings.</p>
    
            <div class="credits">
                <h2>Developed by- </h2>
                <div>
                    <h3>Het Mehta</h3>
                    <p>hetmehta18@gnu.ac.in</p>
                </div>
                <div style="margin-left:30px;">
                    <h3>Shivam Patel</h3>
                    <p>shivampatel18@gnu.ac.in</p>
                </div>
                <div style="margin-left:30px;">
                    <h3>Vedant Patel</h3>
                    <p>vedantpatel18@gnu.ac.in</p>
                </div>        
            </div>
    </div> 
{% endblock %}